<p id="notice"><%= notice %></p>

<p>
  <b>User: <%= current_user.id%></b>
  <%= @list.user_id %>
</p>

<p>
  <b>Timestamps:</b>
  <%= @list.name %>
</p>

<p>
  <b>Description:</b>
  <%= @list.description %>
</p>

<% @list.tasks.each do |task| %>

  <div><%= link_to task.name, edit_list_task_path(@list, task) %> 
  </div>
  
<% end %>
<p>
  <%= link_to 'New Task', new_list_task_path(@list) %>
</p>
<p>
  <%= link_to 'Edit List', edit_list_path(@list) %>
</p>
<p>
  <%= link_to 'All List Tasks', list_tasks_path(@list) %>
</p>  
