<h1>Listing tasks</h1>

<table>
  <tr>
    <th>List</th>
    <th>Name</th>
    <th>Description</th>
    <th>Priority</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @list.tasks.each do |task| %>
  <tr>
    <td><%= task.list_id %></td>
    <td><%= task.name %></td>
    <td><%= task.description %></td>
    <td><%= task.priority %></td>
    <td><%= link_to 'Show', list_task_path(@list, task) %></td>
    <td><%= link_to 'Edit', edit_list_task_path(@list, task) %></td>
    <td><%= link_to 'Destroy', list_task_path(@list, task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_list_task_path %>
