<p id="notice"><%= notice %></p>

<p>
  <b>List:</b>
  <%= @task.list_id %>
</p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Priority:</b>
  <%= @task.priority %>
</p>


<%= link_to 'Edit', edit_list_task_path(@list, @task) %> |
<%= link_to 'Back', list_path(@list) %>
